* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    background-color: rgb(1, 1, 71);
}

.header {
    grid-area: header;
    text-align: center;
    /*z-index: 1;*/
    background-color: rgb(0, 0, 59);
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 79, 0);
    /*padding-top: 20px;*/
}

.navegacion {
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    color: rgb(189, 79, 0);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 5px;
    grid-area: header;
}

#sectionindex {
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "article article article"
        "article article article"

    ;

}

.pie {
    grid-area: pie;
    background-color: rgb(0, 0, 59);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 79, 0);
    padding: 20px;
    align-content: space-around;
}

#indexbody {
    height: 200vh;
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "section section section"
        "section section section"
        "pie pie pie"
    ;
}

/*.indexbody{
    height: 200vh;
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "section section section"
    "section section section"
    "pie pie pie"    
    ;

}*/

/*#indexsec{
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.1fr);
    grid-template-areas:
        "video1 parrafo1 parrafo1"
        "parrafo2 parrafo2 video2"
    ;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}*/

.articleindex {
    grid-area: article;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "video1 parrafo1 parrafo1"
        "parrafo2 parrafo2 video2"
    ;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

#parrafo1 {
    display: grid;
    grid-area: parrafo1;
    font-size: 1.2rem;
    background-color: rgb(189, 79, 0);
    color: rgb(0, 0, 59);
    padding: 5%;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    /*margin-top: 50px;*/
    margin: 50px 50px;
}

#parrafo2 {
    display: grid;
    grid-area: parrafo2;
    font-size: 1.2rem;
    background-color: rgb(189, 79, 0);
    color: rgb(0, 0, 59);
    /*border: 10;*/
    padding: 5%;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin: 50px 50px;
}

#video1 {
    display: grid;
    grid-area: video1;
    margin-left: 5%;
    margin-top: 20%;
}

#video2 {
    display: grid;
    grid-area: video2;
    margin-right: 10px;
    margin-top: 20%;
}


@media (max-width: 425px) {

    .articleindex {
        grid-area: article;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
        grid-template-areas:
            "parrafo1 parrafo1"
            "video1 video1"
            "parrafo2 parrafo2"
            "video2 video2"


        ;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        font-size: 0.5rem;
    }


    .pie {
        display: none;
    }

    /*.arti1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "parrafo1 parrafo1"
            "video1 video1"
        ;
    }

    .arti2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "parrafo2 parrafo2"
            "video2 video2"
        ;
    }*/

    #parrafo1 {
        grid-area: parrafo1;
        background-color: rgb(189, 79, 0);
        color: rgb(0, 0, 59);
        border-radius: 5px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }

    #parrafo2 {
        grid-area: parrafo2;
        background-color: rgb(189, 79, 0);
        color: rgb(0, 0, 59);
        border-radius: 5px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        display: none;
    }

    #video1 {
        grid-area: video1;
    }

    #video2 {
        grid-area: video2;
        display: none;
    }
}

@media (max-width: 300px) {
    body {
        grid-template-rows: 0.5fr repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header header"
            "section section"
            "section section"
            "footer footer"
        ;

    }

    .arti1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
            "parrafo1 parrafo1"
            "video1 video1"
        ;
    }

    .arti2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
            "parrafo2 parrafo2"
            "video2 video2"
        ;
    }

    #parrafo1 {
        grid-area: parrafo1;
        font-size: 1.2rem;
        background-color: rgb(189, 79, 0);
        color: rgb(0, 0, 59);
        padding: 5px;
        border-radius: 5px;
        font-family: 'Ubuntu', sans-serif;
    }

    #parrafo2 {
        grid-area: parrafo2;
        font-size: 1.2rem;
        background-color: rgb(189, 79, 0);
        color: rgb(0, 0, 59);
        /*border: 10;*/
        padding: 5px;
        border-radius: 5px;
        font-family: 'Ubuntu', sans-serif;
    }

    #video1 {
        grid-area: video1;
    }

    #video2 {
        grid-area: video2;
    }
}


/*#bodyimagenes {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "Header Header Header"
        "mainfoto mainfoto mainfoto"
        "pieFoto piefoto piefoto"
    ;
}  

#foto1 {
    grid-area: foto1;

}

#foto2 {
    grid-area: foto2;

}

#foto3 {
    grid-area: foto3;

}

.headFotos {
    grid-area: Header;


}

.pieFoto {
    grid-area: piefoto;

}

*/
/*#mainimagenes {
    grid-area: mainfoto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
        "foto1 foto2 foto3"
        "volver volver volver"
    ;
    row-gap: 20px;

}*/