html {
    background-color: rgb(0, 0, 59);
}

.header {
    grid-area: header;
    text-align: center;
    /*z-index: 1;*/
    background-color: rgb(0, 0, 59);
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 79, 0);

    .navegacion {
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        flex-direction: column;
        color: rgb(189, 79, 0);
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        border-radius: 5px;
        grid-area: header;
    }

}

#indexbody {
    height: 200vh;
    display: grid;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "section section section"
        "section section section"
        "pie pie pie"
    ;

    #sectionindex {
        grid-area: section;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "article article article"
            "article article article"
        ;

        .articleindex {
            grid-area: article;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                "video1 parrafo1 parrafo1"
                "parrafo2 parrafo2 video2"
            ;
            grid-row-gap: 15px;
            grid-column-gap: 15px;

            #parrafo1 {
                display: grid;
                grid-area: parrafo1;
                font-size: 1.2rem;
                background-color: rgb(189, 79, 0);
                color: rgb(0, 0, 59);
                padding: 5%;
                border-radius: 5px;
                font-family: 'Ubuntu', sans-serif;
                /*margin-top: 50px;*/
                margin: 50px 50px;
                height: 40%;
                text-align: justify;
            }

            #video1 {
                display: grid;
                grid-area: video1;
                margin-left: 5%;
                margin-top: 10%;
            }

            #parrafo2 {
                display: grid;
                grid-area: parrafo2;
                font-size: 1.2rem;
                background-color: rgb(189, 79, 0);
                color: rgb(0, 0, 59);
                /*border: 10;*/
                padding: 5%;
                border-radius: 5px;
                font-family: 'Ubuntu', sans-serif;
                margin: 50px 50px;
                height: 40%;
            }

            #video2 {
                display: grid;
                grid-area: video2;
                margin-right: 10px;
                margin-top: 20%;
            }

        }
    }

}
.pie {
    grid-area: pie;
    text-decoration: none;
    background-color: rgb(0, 0, 59);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(189, 79, 0);
    padding: 20px;

    .navFooter{
        display: inline-flex;
        text-align: center;
        justify-content:space-around;
        width: 75%;
    
        .navegacion{
            display: inline-flex;
            text-decoration: none;
            font-family: "Ubuntu", sans-serif;
            font-size: 1.5rem;
        }
    }
}


.TituloNos{
color: rgb(189, 79, 0);
text-align: center;
}
.parrafoNos{
    color: rgb(0, 0, 59);
    background-color: rgb(189, 79, 0);
    font-size: 1.5rem;
    padding: 20px;
    margin: 50px;
    font-family: 'Ubuntu', sans-serif;;
}

.formulario{
    color: rgb(189, 79, 0);
    width: 50%;
    margin-left: 200px;
}